/target/
*/.DS_Store
.DS_Store
.mvn-classpath
.classpath
bin/*
*.wav
*lm.binary
src/main/java/speechToText/output_graph.pb
src/main/java/speechToText/output_graph.pbmm
src/main/java/speechToText/output_graph.tflite
src/main/java/speechToText/trie
