body {
    background-color: #E0EAFC;
    color: white;
    font-family: 'Roboto', sans-serif;
}
h3 {
  color:rgb(119, 119, 119);
  font-family: Roboto;
  font-size: 500%;
  text-align: center;
  padding-top: 100px;
  margin-left: -.5%;
}
.navbar {
min-height: 80px;
color:black;
}

.navbar-brand {
padding: 0 15px;
height: 80px;
line-height: 80px;
color:black;
}


.navbar-toggle {
margin-top: 23px;
padding: 9px 10px !important;
}

@media (min-width: 768px) {
.navbar-nav > li > a {
  padding-top: 26.5px;
  padding-bottom: 26.5px;
  line-height: 27px;
  color: black;
}
}
.navbar a{
color: black;
font-family: 'Roboto', sans-serif;
font-size: 3.8em !important;
}
.nav a {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8em !important;
}

.table-borderless {
  color: black;
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  font-family: 'Roboto', sans-serif;
  font-size: 2.5em !important;
  border-spacing:40px 10px;
  margin-top: 70px;
}
