body {
    background-color: #E0EAFC;
    color: white;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: black;
    font-family: Roboto;
    font-size: 250%;
    text-align: left;
    padding-left: 50px;
}

h3 {
    color: black;
    font-family: Roboto;
    font-size: 350%;
    text-align: center;
    margin-left: 48px;
}

h2 {
    color: black;
    font-family: Roboto;
    font-size: 100%;
    text-align: center;
    font-weight: bold;
}

h4 {
    color: black;
    font-size: 170%;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin-left: 10%;
}

h5 {
    font-size: 150%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.button {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    width: 13%;
    cursor: pointer;
    margin-top: -8%;
    margin-left: 61%;
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 75px;
    text-align: center;
}

.form {
    text-align: center;
    align-items: center;
    padding: 15px 32px;
}

input[type=text] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: black;
    font-size: 10px;
}

input[type=password] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: black;
}

hr {
    display: block;
    height: 1.5px;
    border: 0;
    border-top: 1px solid #000000;
}

.search {
    width: 100%;
    display: flex;
    margin-left: 1450px;
}

.searchTerm {
    width: 100%;
    border: 3px solid #B0E0E6;
    border-right: none;
    height: 45px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #000000;
}

.searchButton {
    margin-top: 8px;
    width: 40px;
    height: 45px;
    border: 1px solid #B0E0E6;
    background: #B0E0E6;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}


/*Resize the wrap to see the search bar change!*/

.wrap {
    width: 10%;
    position: absolute;
    top: 200px;
    left: 545px;
    transform: translate(-50%, -50%);
    margin-left: 60%;
}

.patientTable {
    font-size: 40px;
    color: black;
    padding: 50px;
    vertical-align: 50%;
}

th,
td,
tr {
    text-align: center;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 5%;
}

.jumbotron {
    background-color: #E0EAFC;
    color: black;
    padding-top: 100px;
}

.navbar {
    min-height: 80px;
    color: black;
}

.navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
    color: black;
}

.navbar-toggle {
    margin-top: 23px;
    padding: 9px 10px !important;
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
        padding-top: 26.5px;
        padding-bottom: 26.5px;
        line-height: 27px;
        color: black;
    }
}

.navbar a {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 3.8em !important;
}

.nav a {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em !important;
}

.btn {
    background-color: rgb(248, 248, 248);
    text-align: center;
    color: black;
    border: solid;
    width: 24%;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.transcript {
    margin-top: 5%;
    color: black;
    padding: 10px;
    width: 50%;
    text-align: center;
    background-color: #fff5eb;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.summary {
    color: black;
    width: 100%;
    margin-top: 2%;
    font-weight: 300;
}

.details {
    color: black;
    font-size: 150%;
    font-weight: 300;
    margin-left: 10%;
}
